/* Comentario de prueba
 * Estilos de tu proyecto
 */
 /*CLASES REUTILIZABLES*/
* {
  /*outline: 1px solid yellow;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif,'Lato', sans-serif;
  
}

body {
  margin: auto;
  width: 1300px;
  font-size: 16px;
  line-height: 1; /*espacion entre linea*/
}


#navMenu a{
	 font-weight: bold;
  	color: white;
  	font-size: 1em;
  	text-decoration: none;
  	z-index: 2000;
}


#navMenu a:hover  {
    color: #18bc9c;
    z-index: 2000;
    padding: 15px;
    /*margin-top: :40px;*/
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 15px;
    color: #fff;
    background:  #18bc9c;
    text-decoration: none;
}


/*navegador */
#navMenu{/*log*/ /*barra de navegacion menu*/
  position:fixed;
  background: #2c3e50;
  color:white;
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  z-index: 100;
}
#navMenu ul{ /*barra de navegacion menu*/
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
    overflow: auto;
    text-transform: uppercase;
    z-index: 1000;
    
}
#navMenu li{ /*barra de navegacion menu*/
    text-align: left;
    display: inline-block;
    padding: 3% 1% 3% 3% ;
    z-index: 1001;
}
/*titulo barra de navegacion*/
#navMenu h1{
	font-size: 35px;
}
/*perspnalizacion de titulo*/
.caja h1{
	font-size: 80px;
}
.caja h3{
	font-size: 0 auto ;
}

.logo{ /*posicion del logo*/
    outline: 1px solid orange;
    font-size: 30px;
    font-stretch: condensed ;

    
}
.services{/*margen services barra de navegacion*/
  margin-left: 30%;
}
/*navegador cierre*/

/*seccion profile & about */
.caja{
  background:#18bc9c;
  margin-right: auto;
  margin-left: auto;
  padding:50px 0px 50px 0px;
  color: white;
  width: 1300px;
  text-align: center;
  overflow: hidden;

}
/*imagen Profile*/
.section_article{
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  overflow: hidden;
}
.caja #estrella1 .fa , .about #estrella1 .fa {
	  font-size: 35px;
	   border-radius: 100%;
    display: inline-block;
    margin-top: -40px;
    color: #fff;
    background-color: #18bc9c;	
	   position: relative;
    top: -.95em;
 	  padding: .30em;
      
}

/* PORTAFOLIO seccion 2  */
.portafolio{

    width: 1300px;
    text-align: center;
    margin-right:14px;
   	margin-left: 14px;
    padding: 40px 0px 40px 0px;
   	overflow: hidden;
    color:#212529;


}
/*ESTRELLA REBELDE DEL PARRAFO*/
.portafolio #estrella1 .fa, .contactMe #estrella1 .fa {

  	
  	font-size: 35px;
  	border-radius: 100%;
    display: inline-block;
    margin-top: -30px;
    color: #2c3e50;;
    background-color: #fff;	
  	position: relative;
    top: -.95em;
   	padding: .25em;
        
}

/*cajas lupa */
.caption{
    position: absolute;
    width: 355px;
    height: 250px;
   /*efecto DE TRANSICION BONITO*/
    transition: all ease .6s;
    opacity:0;
    background: rgba(24,188,156,.9);
}
.caption:hover{
    position: absolute;
    width: 355px;
    height: 250px;
    opacity:100;
    background: rgba(24,188,156,.9);
}
.caption .caption-content {
    font-size: 20px; 
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px; 
    text-align: center; 
    color: #fff;
}
/*imagenes portafolio*/
.items{
 	
 	display: inline-block;
	margin:30px;/*margen entre imagenes*/
}
 /*imagenes portafolio*/
.cuadro1{
   width: 350px;
   margin: .3px;
   padding: 10px;
   padding-bottom:40px;
}
/*cierre PORTAFOLIO*/
/*ABOUT Seccion 2 */

.about{
  background:#18bc9c;
  margin-right: auto;
  margin-left: auto;
  padding:60px;
  color: white;
  width: 1300px;
  text-align: center;
  overflow: hidden

}

/* PARRAFOS ABOUT */
.box {
  text-align: center;
  width: 80%;
  position: relative;
  right: -18%;
  overflow: hidden;
}


.content {
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  overflow: hidden;   
}

.left {
	float: left;
  width: 40%;
  padding: 20px;
}
.right {
	float: left;
  width: 40%;
  padding:20px; 
}
/*boton Download*/


/*boton*/
.view{ /*boton*/
  	padding: 15px;
  	border-radius: 5px;
  	color: white;
  	font-size: 20px;
    margin-top: 15px;
    color: #fff;
    border: solid 2px #fff;
    background:  #18bc9c;
    text-decoration: none;
    transition: all ease .6s;
}
/*boton hover*/
.view:hover { 
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  margin-top: 15px;
  color: #18bc9c;
  border: solid 2px #18bc9c;
  text-decoration: none;
  transition: all ease .6s;
}

/*CONTACTO*/
.contactMe{
  color: #31343D;
  width: 1300px;
  padding: 50px;
  text-align: center;
  margin-right:14px;
  margin-left: 14px;
  overflow: hidden;

}
 .send { /*boton*/
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
    border: solid 2px #fff;
    background:  #18bc9c;
    text-decoration: none;

}
.send:hover { /*boton*/
    padding: 15px;
    margin-top:40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
    border: solid 2px #7FDAA0;
    background:  #009676;
    text-decoration: none;
}



/*formulario de contacto*/
/* PORTAFOLIO seccion 2  */



/*titulos principales */
h1{
  font-size: 50px;
  text-transform: uppercase;
  line-height: 0;
}

/*pie de pagina*/


footer{
  background: #31343D;
  margin-right:14px;
  margin-left: 14px;
  padding: 30px;
  text-align: center;
  color: white;
  width: 1300px;
  overflow: hidden;
}
.about hr, .caja hr {
  color:white;
}

hr{
  color: #2c3e50;
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

/*estrella*/

.iconos{
	font-size: 20px;
}
   
/*formulario contacto BOTON ENVIAR*/
input, textarea  {
  padding:1em;
  border:0;
  border-bottom: .3px solid #eef;
  text-align: left;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;

}
input, textarea{
   width: 50%;

}
#formInformacion{
  width: 100%;
  text-align: center;
}
#formInformacion .send{
  position: relative;
  right: 22%;
}



/*SOCIAL MEDIA*/

.socialMedia  {
  
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    background: 0 0;
    z-index:100 ;
    transition: all ease .6s;
}
.socialMedia:hover {
	 font-size: 32px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    background: white;
    z-index: 0;
    color:#18bc9c;
    transition: all ease .6s;
}

#socialMediaIcon{
    list-style: none;
    z-index: 3000;

}
.items_footer{
	display: inline-block;
	margin:30px;
	z-index: 3000;

}
.redes ul{ /*barra de navegacion menu*/
    list-style: none;    
}
.redes li{ /*barra de navegacion menu*/
    text-align: left;
    display: inline-block;
    padding: 1em;
    z-index: 1001;
}

h4{
  font-family:'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-top: 10px;
}
.about h1{
   padding: 15px;
}
.about .view{
  margin:20px;
   padding: 15px;
}

#link{
  color:#18bc9c;
}
footer p{
}
#sendF{
  border-style: none;
  border-bottom: 1px solid black;

}



